[2015-07-11 19:06] chenxiaolei opened #1 "when "produces":["application/json;charset=UTF-8"] , it will import fails"
like this
[code]
Error: Invalid Swagger file (invalid schema or schema version < 2.0)

remve charset
[code]
will succeed

[2015-07-12 23:46] kwent commented on #1
Hi @chenxiaolei,

First thank you a lot for having the time to open this issue.

@mittsh Our current release is using obsolete mimetype schema. Diff is there: https://github.com/swagger-api/swagger-spec/commit/920f46588051395182aa5f62c21091df7eaa021c.

I re `npm install` to fetch latest  `schema.json` [swagger-schema-official](https://www.npmjs.com/package/swagger-schema-official) Cf. https://gith

[2015-07-12 23:46] #1 closed

[2015-07-13 00:07] mittsh commented on #1
@chenxiaolei @kwent I just released this fix (just running a new `npm install` solved as you predicted Quentin...).

You can update in the Paw menu > Extensions > Check Extensions Updates.

[2015-09-14 14:45] tuexss opened #2 "root basepath"
When I use basepath `"/"` and resourcepath beginning with `/` the importer ends up with `//` for all the resources. Shouldn't this be prevented, or do I need to define the paths differently in the swagger scheme?

[2015-09-14 17:34] govyrl opened #3 "Option doesn't show up in importable file types list"
![screen shot 2015-09-14 at 10 31 40 am](https://cloud.githubusercontent.com/assets/13245168/9856867/20e5be00-5acc-11e5-8064-334c195d2e6a.png)

[2015-09-17 14:39] yijiasu commented on #3
Also have this issue

[2015-09-17 17:30] mittsh commented on #3
hey guys, it sounds like we have a bug... I'm investigating this, and I'll get back to you asap today!

[2015-09-17 20:25] mittsh commented on #3
I just fixed the issue. Now you can update the extension, in the Paw menu > Extensions > Check for Extensions Updates...

@govyrl @yijiasu thanks a lot for reporting this issue!

[2015-09-17 20:25] #3 closed

[2015-09-17 20:42] #2 closed

[2015-09-17 20:42] mittsh commented on #2
@tuexss thanks a lot for pointing this out, it's very true, and I don't think the Swagger Spec says anything specific about whether it should or not have a trailing slash. Though it states:

And in this case you're right, just a `/` should be a valid entry.

[2015-09-17 20:52] mittsh commented on #2
To update the extension, go to Paw menu > Extensions > Check for Extensions Updates

[2015-09-18 09:43] tuexss commented on #2
thx alot!

[2015-09-18 10:45] tuexss opened #4 "Multifile-import"
Our swagger description is spread across several .yml-files, using something like

[code]

to pull in the real data. But this importer can only take a single file and doesn't follow the references. Would it make sense to add this as a feature, or is there some kind of tool I could use as preprocessor before the import?

[2015-09-18 11:16] tuexss commented on #4
see https://github.com/swagger-api/swagger-spec/blob/master/guidelines/REUSE.md#parameters for how it's done

[2015-09-18 11:35] mittsh commented on #4
@tuexss yes, it's true that it doesn't support this yet, and probably will be hard to manage due to [app sandboxing](https://developer.apple.com/library/mac/documentation/Security/Conceptual/AppSandboxDesignGuide/AboutAppSandbox/AboutAppSandbox.html), I suggest that as you said, you run the Swagger file through a preprocessor to embed all files, I'm not sure if that exists

did some quick search a

[2015-09-18 12:16] tuexss commented on #4
ok, thanks for the feedback, will think about it.

[2015-10-29 07:11] 42thcoder opened #5 "Can you support Grape Swagger ?"
Grape Swagger got a HTTP API which return a JSON~

[2015-10-29 07:16] mittsh commented on #5
Is it possible to convert a Grape API to a Swagger file using Grape Swagger and then import this Swagger file into Paw?

[2015-10-30 03:18] 42thcoder commented on #5
It's possible. However, it's not that convenient~

What I expect is that it can make a HTTP request to Grape Swagger API, and import the response which is as same as `Swagger file` into Paw.

[2015-11-04 10:28] mittsh commented on #5
Ok got it. Then it should be some import from a URL (where the Swagger file is hosted). That should be easily doable...will add this to our todo.

[2015-11-12 08:59] hoegertn opened #6 "Import fails with swagger.json"
The swagger file from: https://ergebnis.radball-bw.de/swagger.json fails with schema errors. Is there any kind of debug log available to find the reason? the file works perfectly in swagger-ui

[2015-11-20 06:27] hoegertn commented on #6
any idea?

[2015-11-20 10:20] hishnash commented on #6
@hoegertn
I get:

[code]

I will have a look to see were this is coming from.

[2015-11-20 10:26] hoegertn commented on #6
Yes, but the file is a valid swagger json. Swagger UI is able to parse it correctly

[2015-11-20 10:28] hishnash commented on #6
http://editor.swagger.io/#/

if you load it here i get an error:

[code]

[2015-11-20 10:29] hoegertn commented on #6
Ok then I will have a look at the file and search the bug in the swagger generator

Thanks for having a look at it

[2015-11-20 10:29] hishnash commented on #6
as a work around for know you can load it `http://editor.swagger.io/#/` and then click `FILE->download json` PAW can open this.

[2015-11-20 10:37] hoegertn commented on #6
Ok I fixed some fields and now it works. I will create further issues for some improvements, but I will have a look at the source and try to create PullRequests. This issues was causes by the generator creating invalid spec file

[2015-11-20 10:37] #6 closed

[2015-11-20 14:27] mittsh commented on #6
@hoegertn great! we will try to improve the error reporting in the Paw importer, it would be nicer to show you precisely why it's failing.

[2015-11-21 14:38] hoegertn opened #7 "Import host information as environment"
Would it be possible to create an environment and set the host from the swagger.json as variable into the requests? This would allow to import swagger files and run against different servers (dev,stage,prod) without changing every request

[2015-11-23 13:22] hishnash commented on #7
@hoegertn i have created a branch that has this functionality.
https://github.com/luckymarmot/Paw-SwaggerImporter/tree/setHostAsEnv
It would be nice to have a ui for an importer, but for know i hope this helps.

To install you will need:
git, npm (v2.11.3) aka node (v0.12.7)

then checkout setHostAsEnv branch.

[code]

This will install into your Paw.app

Let me know if this helps.

[2015-11-23 13:32] hoegertn commented on #7
Great. I will check this today.

[2015-11-23 15:13] hishnash commented on #7
[com.luckymarmot.PawExtensions.SwaggerImporter.zip](https://files.zenhub.io/56532b8a7ec9ca497289e914)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

I have added the compiled plugin: you need to unzip it and add it to: you extensions folder. (to find this open preferences from Paw and click extensions tab)
![image](https://cloud.githubusercontent.com/assets/838127/11340143/eb6a3856-91fc-11e

[2015-11-23 17:04] #7 closed

[2015-11-23 21:08] hoegertn commented on #7
Hi,

import works like charm. Some points to improve it even further:
- There is a typo in the name of the domain "hostEvnDomain"
- Maybe it is possible to use the "title" of the group as env domain name
- Please add the scheme to the variable "<scheme>://<host>" to allow to change this globally to.

My main use case is to test against http://localhost and https production

[2016-01-05 19:39] nVitius opened #9 "URL Import"
It would be nice to have the ability to import a swagger definition given a URL.

[2016-01-07 19:09] mittsh commented on #9
That's a good point @nVitius, it would require some changes on our side, but it surely is a very useful thing. We have a big UI/UX oriented update scheduled for the coming months so we will bundle this in.

[2016-01-22 17:53] nosyjoe commented on #4
had the same issue. I'm using swagger-cli as a preprocessor:
install swagger-cli:

[code]

and then run swagger on the root yml file:

[code]

importing works!

[2016-01-22 17:53] mittsh commented on #4
@nosyjoe oh great, thanks for the tip! I'll add this to our Paw documentation until this issue is fixed

[2016-01-22 18:07] nosyjoe opened #10 "support string parameters with possible values as enum"
swagger 2.0 allows me to specify possible parameter values (for headers, queries and so on) as an enum.

when importing, the values are not imported correctly. is this possible or does the paw api not support enum values?

example
[code]

[2016-02-14 15:15] onemanstartup commented on #5
subscribed

[2016-03-13 23:40] letsbyteit commented on #9
Also looking for URL orientated imports, any news on this, @mittsh?

[2016-03-14 00:59] mittsh commented on #9
Yes absolutely! We're working on it. They should come in about 2 weeks.

[2016-03-14 01:07] letsbyteit commented on #9
That sounds great, thanks!

[2016-03-14 04:15] letsbyteit opened #12 "Feature Request: Group by Path"
Is there any way to get a proper grouping of the requests by their path?

Example imported with Paw-SwaggerImporter:
![screen shot 2016-03-14 at 05 10 50](https://cloud.githubusercontent.com/assets/7833199/13734900/2afb7a5e-e9a3-11e5-868f-8b63c727c03f.png)
(Taken from: http://petstore.swagger.io/v2/swagger.json)

I'd like to see groups per path-component. I was wondering, that Paw doesn't do it it

[2016-03-15 15:31] letsbyteit commented on #10
@nosyjoe Just spoke with the Paw team, there is currently no UI implemented to do this. I think, you expected also kind of drop-down-menu? Yeah, me too. But it's not implemented, but they will implement it.

[2016-03-15 20:57] nosyjoe commented on #10
@letsbyteit yeah you're right, I was expecting a kind of drop-drop down, until I figured out that Paw does import and even autocomplete the enum values - which is nice.

still, you need to start typing for the autocompletion, thus know at least the first character of the value

[2016-03-15 20:59] nosyjoe commented on #12
I had a patch for this lying on my disk and created a pull request (#13) from it. You might want to check it out if it works for you!

[2016-03-15 21:06] letsbyteit commented on #12
@nosyjoe Just a short question: Your implementation just groups the first path-segment, right?
I'm struggling with this since hours… The problem is the tree-building.
I found some working solutions, but these require previous sorting and filtering. For PHP I found something actually working (except root-nodes must be omitted before): http://thehighcastle.com/blog/38/php-dynamic-access-array-elemen

[2016-03-15 21:08] nosyjoe commented on #12
oh you want sub-groups? it's only grouping top-level path segments, yes

[2016-03-15 21:12] letsbyteit commented on #12
Ah okay, I'm looking into it right now. Yeah, I thought it would be very useful to have a recursive attempt on this or so. But it seems a bit complicated to build up the tree.
It would be super easy with such array-access:

[code]

But I think, grouping the first segment is a huge improvement for now. We've got > 200 endpoints and it's kind of messy with Paw.

[2016-03-15 21:30] nosyjoe commented on #12
recursion to the rescue, I agree. the API makes it a bit complicated since subgroups are handled differently from root-level groups, though. I'm playing around with it a little

[2016-03-15 21:36] letsbyteit commented on #12
Thanks, I didn't really look into the Paw-Grouping before. My problem was more the grouping-algorithm. Maybe CoffeeScript handles this better than vanilla JavaScript, I'm not pro with CS/JS at all.

This is my current JavaScript attempt:

[code]

This is my PHP attempt (I'm just more used to prototype with PHP):

[code]

Part of the PHP code was taken from this URL: http://thehighcastle.com/blog/3

[2016-03-15 22:01] nosyjoe commented on #12
you can write it way easier. e.g. split the path segments and omit empty parts:

[code]

[2016-03-15 22:42] nosyjoe commented on #12
ok, after diving into it a little bit more, I managed to come up with a solution, it is not perfect but it does do the creating of the recursive groups:

[https://github.com/nosyjoe/Paw-SwaggerImporter/tree/recursive-request-groups](https://github.com/nosyjoe/Paw-SwaggerImporter/tree/recursive-request-groups)

hope that helps!

[2016-03-15 23:17] letsbyteit commented on #12
@nosyjoe Wow, thank you! That's definitely a huge improvement! I'm forking the Swagger-Importer for a specific Swagger-using framework, to make things more easy with the framework. For me, I think, I will add a breakpoint for path-segments containing placeholders like /{user_id}/.
I'm currently unsure whether the placeholder syntax is specified by Swagger. But if so, it should also be considered f

[2016-03-15 23:37] hishnash commented on #10
@nosyjoe @letsbyteit I am looking into if we can find a way to let you hack this into paw in 2.3.3 through creating CustomDV objects with the importer that expose UI, therefore would have a dropdown if you click on the dv tag (not perfect but a much easier short term fix).

[2016-03-16 00:55] mittsh commented on #12
Nice work on this! Thank you for that. I'll have a look at this code quickly. Thought, I don't know if we should merge this to master yet: some users may not like the per-path-component grouping, and an update to Paw is coming soon that will bring _options_ to importers. We will be able to set a checkbox and ask if the user wants to group per path component.

If you guys still have some questions

[2016-03-16 09:25] nosyjoe commented on #12
@letsbyteit glad I could help. I think the placeholders in curly braces are swagger-standard.  I was thinking about excluding them like in `/pet/{petId}` but then there were cases with nested placeholders (like `/pet/{petId}/uploadImage`) and things were starting to get too complicated :)

also, as a next step I would like to map these placeholders to environment variables through dynamic values..

[2016-03-16 09:28] nosyjoe commented on #12
@mittsh yeah, offering the user an option to choose sounds great. although I don't think groups with 1 child each, like it is currently implemented, makes sense as a default. but choosing how many level or if there should be recursive groups would be a good configuration option, I agree!

[2016-03-16 09:28] nosyjoe commented on #10
@hishnash sounds awesome!

[2016-03-16 09:57] mittsh commented on #12
@nosyjoe yeah :) when we have options for importers it will all be much nicer!

[2016-03-16 18:45] letsbyteit commented on #10
Just a short question: How should the JSON-structure be for that? I didn't get any autocompletion so far, so I think I've to restructure my JSON?
Or does it currently just work within the parameters-array directly? I'd like to get this also for the models (in the schema-object).

@nosyjoe @hishnash

[2016-03-17 08:59] nosyjoe commented on #10
so here's an example-excerpt from a swagger son definition, it's quite similar to the one in the initial post. When I import it (the full one, not the excerpt), I can auto-complete the enum values, when I type "de" it shows mit the two options starting with "de":

[code]

I haven't tried it for models

[2016-03-17 09:00] nosyjoe commented on #12
@mittsh any ETA on the 2.3.3 release? do you guys have a alpha/beta program?

[2016-03-30 16:00] JonathanMontane commented on #4
Actually, to be more precise:

[code]

would not resolve to a different file as per the [JSON pointer RFC](http://tools.ietf.org/html/rfc6901) used by swagger, but to a path within the current file.

A URI fragment falling under this issue would be

[code]

more info on [URIs](http://tools.ietf.org/html/rfc3986#section-3)

[2016-04-11 22:12] mittsh opened #18 "Ignore broken schemas"
If a schemas has broken references in it (a reference to an item that doesn't exists) the importer crashes because it expects that object.

@JonathanMontane I can pass you an example JSON that crashes tomorrow…

[2016-04-18 10:29] JonathanMontane commented on #18
solved in [PR#29](https://github.com/luckymarmot/API-Flow/pull/29)

[2016-04-18 10:29] #18 closed

[2016-04-18 10:34] JonathanMontane commented on #12
@letsbyteit This behavior is now supported in Paw.

[2016-04-18 10:34] #12 closed

[2016-04-18 10:37] JonathanMontane commented on #9
@letsbyteit, @nVitius you can now import swagger files from urls.

[2016-04-18 10:37] #9 closed

[2016-04-18 11:30] Mijathi opened #20 "Importer fails on ValidationError"
Hi,

I'm getting current error when trying to import a swagger defintion.

[code]

I checked the following:

- version is 2.0
- Swagger-ui works.

Small excerpt:

[code]

[2016-04-18 11:47] mittsh commented on #20
@Mijathi Can you make sure you're running the latest Swagger importer? Please go to the Paw menu > Extensions > Check for Extensions Updates.
Saying this because this bug reminds me one we had in a previous version of our Swagger importer, the new one seems to be working fine. Thanks!

[2016-05-12 08:50] bertramakers opened #21 "Show example in body"
I'm not sure if I'm missing something, but whenever I import a Swagger file none of the requests have any information about the body. (For POST/PUT/PATCH requests.)

Using the Pet Store definition on Swagger UI as an example,  you can see that they can show an example body which helps when filling out the request. However importing the corresponding Swagger file in Paw using this extension results

[2016-05-12 09:04] mittsh commented on #21
@bertramakers We're working on a large project to handle API description formats ([API Flow](https://github.com/luckymarmot/API-Flow)), and it will handle body nicely, and even generate random data using JSON schema faker. I think it will help in your case.

[2016-05-12 09:17] bertramakers commented on #21
Sounds good! Is this something we can already try out, or is it far from ready?

[2016-05-12 09:27] mittsh commented on #21
@bertramakers it's not so far…but we still need to adapt stuff to make it available to use in Paw (cc @JonathanMontane)

[2016-05-12 13:16] bertramakers commented on #21
Ok great, looking forward to testing it whenever it's usable in Paw. I'll keep an eye out for it.

[2016-06-27 23:13] lorengreenfield opened #22 "TypeError: undefined is not a function"
Hey guys,

I'm having a problem importing swagger 2 files into Paw. I've got the latest importer and I've tried with several swagger files, both directly from URL and files.

To replicate the issue, try with https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v2.0/json/api-with-examples.json

I've attached a screen shot of the error I'm getting.

![screen shot 2016-06-28 at

[2016-06-29 22:34] mittsh commented on #22
@lorengreenfield thanks for reporting this! we're working on a big update of our importers (the Swagger one being a major one), it should fix these things and make the quality of Swagger imports a lot better

@JonathanMontane can you make sure this example Swagger file works with our new importer? thx!

[2016-06-30 10:57] JonathanMontane commented on #22
@lorengreenfield I just checked the newest (unreleased) Swagger importer with this file, and it passed successfully.

We're currently working on fixing a few things on the importers, which are bundled together now, so I can't give you a clear date for the fix, but we're near the end of the cycle.

[2016-06-30 11:50] lorengreenfield commented on #22
Thanks @JonathanMontane, it'll be nice to have swagger importing back. Looking forward to it!

[2016-08-04 14:44] JonathanMontane commented on #22
fixed in v2.2.0

[2016-08-04 14:44] #22 closed

[2016-08-04 14:44] JonathanMontane commented on #21
fixed in v2.2.0

[2016-08-04 14:44] #21 closed

[2016-08-04 14:45] JonathanMontane commented on #20
No news since Apr 18. Closing.

[2016-08-04 14:45] #20 closed

[2016-08-04 14:45] JonathanMontane commented on #10
fixed in v2.2.0

[2016-08-04 14:45] #10 closed

[2016-08-23 10:57] klh opened #24 "definition references not correctly parsed"
_when using swagger references such as:_

[code]
_see $ref: '#/definitions/System.Object'
that links to:_
[code]

_is not correctly rendered as object {username:'',password:''}_

[2016-08-23 11:38] JonathanMontane commented on #24
I'm not exactly sure what the issue is here.

If you navigate to `#/definitions/System.Object`, you'll obtain the following JSON Schema:

[code]

which would be rendered as a JSON Schema Faker Dynamic Value (JSF), with the generated value `{}`.

If you want to have a required username and password, you should edit the JSON Schema to look like

[code]

[2016-08-24 07:37] JonathanMontane commented on #24
@klh Do you still have any issues with importing swagger files into Paw ?

[2016-08-25 00:38] lumaxis opened #25 "Does not correctly handle multiple "schemes" values"
The OpenAPI spec allows for the `schemes:` property to be an array of strings, see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema

If a Swagger file includes something like this
[code]
the importer apparently ignores both values and shows this instead:
![screenshot 2016-08-25 02 38 04](https://cloud.githubusercontent.com/assets/406937/17952663/f85b7a86-6a6c-11e6-9c

[2016-08-25 00:41] lumaxis commented on #24
@JonathanMontane I'm not sure if I'm encountering the exact same issue but for me, the imported Swagger definitions look like this:

![screenshot 2016-08-25 02 34 58](https://cloud.githubusercontent.com/assets/406937/17952676/25f6103c-6a6d-11e6-9794-9e9c1cad9e53.png)

What information can I give you to help debug this? A sample definition looks like this:

[code]

[2016-08-25 08:37] JonathanMontane commented on #24
Probably found the bug, I'm looking into fixing it right now.

[2016-08-25 08:39] JonathanMontane commented on #25
Thanks for the report, I'll look into it!

[2016-08-25 09:20] JonathanMontane commented on #25
@lumaxis Found the bug, working on a fix right now (your two issues are linked and are part of a much wider issue)

[2016-08-25 12:21] lumaxis commented on #25
I had a feeling this might be the case. Thanks for looking into it and working on a fix!

[2016-08-30 08:19] bertramakers commented on #21
Not sure if it's me doing something wrong, or something you overlooked, but most of our endpoints in Swagger use references to describe their parameters. But instead of looking up those references, the reference name gets injected into the request body. See attached screenshot.

![screen shot 2016-08-30 at 10 17 56](https://cloud.githubusercontent.com/assets/959026/18081553/25430618-6e9b-11e6-8466

[2016-08-30 08:57] JonathanMontane commented on #21
@bertramakers, from version 2.2 onwards, the definitions that are present in the swagger file are stored in an environment domain, and should use the JSON Schema Faker dynamic value (or JSF). The JSF dynamic value is something we're really stoked about, because it allows you to generate fake data that complies with the schema.

So what you are actually seeing here is actually a reference to an env

[2016-08-30 14:09] bertramakers commented on #21
That's fine, I'll just wait for the next release. Thanks for the fast reply! :)

[2016-09-01 18:40] lumaxis commented on #25
@JonathanMontane Should this already be fixed by 3.0.9? I noticed things changed a little but the current behavior is still a bit strange.
I think the `schemes` values now get imported using JSF enums but this is not very practical imo. The way it works now, the actually used protocol becomes random and unpredictable whereas I would love to have this become a globally changeable environment variab

[2016-09-02 08:01] JonathanMontane commented on #25
@lumaxis Sorry about that! The issue was internal to Paw and got fixed in Paw 3.0.9. However, what you are describing was also fixed in a joint release. Try updating your extensions, you should now have two additional options for the random generation on imports, specifically for the protocol and host (we were also annoyed by it). In theory, these two checkboxes should be disabled by default, so y

[2016-09-02 11:41] lumaxis commented on #25
Hah, you're indeed right :) When I had tried last night, the Swagger Importer update hadn't reached me yet, now it's looking exactly like you describe.

[2016-09-02 11:41] #25 closed

[2016-09-02 11:49] lumaxis opened #26 "Support importing host and schemes attributes as environment variables"
It would be really nice to be able to easily change the protocol and host for an entire imported document.
Maybe import host and protocol as environment variables?

[2016-09-02 14:34] JonathanMontane commented on #26
@lumaxis I'll see what I can do. Though this is low priority at the moment.

[2016-09-05 07:09] ridvanbaluyos opened #27 "cannot export when using environment variables"
i use environment variables for my requests. when i tried exporting it to swagger, i'm getting

[code]

is there a way for me to export my requests to swagger definition when using environment variables?

[2016-09-05 07:57] JonathanMontane commented on #27
@ridvanbaluyos thanks for the report! Yes, you should be able to use environment variables, and this should not happen.

Would you mind providing us the next few lines of the error you get, they are only related to the internal way the extension works and would help us tremendously in solving this issue?

On a side note, other users reported a similar issue and it had nothing to do with environmen

[2016-09-05 08:09] JonathanMontane commented on #24
fixed.

[2016-09-05 08:09] #24 closed

[2016-09-05 08:15] ridvanbaluyos commented on #27
Hi @JonathanMontane

i'm using environment variables for my url: https://postimg.org/image/c75uecfvf/

Below is the complete error:
https://postimg.org/image/m4wwecx0r/

[code]

hope it helps.

[2016-09-05 10:05] JonathanMontane commented on #27
@ridvanbaluyos yup, looks like the same error as the one we're currently fixing. Thank you for the quick reply!

Here's a dummy request that exhibits the same traits as yours, it is now fixed!

![image](https://cloud.githubusercontent.com/assets/5136989/18244603/31b220da-7361-11e6-8f0e-4a6b52b10d27.png)

Expect a release in the next 2 hours.

[2016-09-05 10:35] ridvanbaluyos commented on #27
thanks @JonathanMontane for the quick actions! will wait for the fix. :)

[2016-09-05 11:32] JonathanMontane commented on #27
@ridvanbaluyos release is out, can you try it and check if it fixed your issue?

[2016-09-06 01:45] ridvanbaluyos commented on #27
hi @JonathanMontane

it's now working and can generate the swagger file. thanks for your quick response! :)

[2016-09-08 15:15] mwickens opened #28 "Body parameters?"
Not sure what's supposed to be supported but I'm finding no body parameters get imported.

E.g., in this case:
[code]

[2016-09-08 15:24] JonathanMontane commented on #28
@mwickens thanks for the report! I'll look into it. The body should be a [JSF 🎩  Dynamic Value](https://paw.cloud/extensions/JSONSchemaFaker) with the following schema:

[code]

If you want to fix the body of your request while I try to find why this fails to behave correctly.

[2016-09-09 09:04] JonathanMontane commented on #28
@mwickens I tried a few things and I couldn't really reproduce your issue. Does your file look something like what in the editor on the right in the following screenshot ?

![image](https://cloud.githubusercontent.com/assets/5136989/18381562/257d0df6-767d-11e6-8fca-bd6f1c94f57b.png)

Or is there anything amiss ? Thanks

[2016-09-09 14:01] mwickens commented on #28
Here's my full swagger file. Since you can't reproduce it, if you'd prefer that I narrow it down, I can try that.

**REMOVED FILE**

[2016-09-09 17:02] JonathanMontane commented on #28
@mwickens thanks! I'm looking into it. I checked the bodies of every request to see if it matched the ones in the file on my machine, and it does. So I'm pretty surprised you have such issues. Just to be sure, you have nothing in the body of any of your requests, right?

For the record, here's what I see on my machine.
![image](https://cloud.githubusercontent.com/assets/5136989/18395593/55a0daca-7

[2016-09-12 19:56] mwickens commented on #28
Weird. I feel like I must be doing something wrong.

![image](https://cloud.githubusercontent.com/assets/30220/18450462/20bf60bc-7901-11e6-8fff-b12741af866a.png)

![image](https://cloud.githubusercontent.com/assets/30220/18450443/10243d18-7901-11e6-8cb8-3a8b3606203e.png)

[2016-09-13 07:32] JonathanMontane commented on #28
@mwickens what do your importers settings look like? If you disabled body and environments, you won't see JSF 🎩  in those places.

Here's the default settings:
![image](https://cloud.githubusercontent.com/assets/5136989/18465002/a730696e-7994-11e6-9e36-5254cc32db36.png)

[2016-09-13 18:34] mwickens commented on #28
Uh, it’s working now. I have no idea what I changed. I did have the last two options checked previously (I swear) but I had turned them off while trying get it it to work. Now turning them back on fixed it. Thanks for the help!

[2016-09-14 06:25] JonathanMontane commented on #28
@mwickens Glad to hear it finally worked for you!

[2016-09-14 06:25] #28 closed

[2016-09-16 09:32] magobaol opened #29 "Import not working"
I'm trying out the importer, version 2.2.11.
If I try to import this url http://petstore.swagger.io/v2/swagger.json it shows this error message:

![screen shot 2016-09-16 at 11 31 09](https://cloud.githubusercontent.com/assets/1880350/18581485/2446bca0-7c01-11e6-9a98-914c464c99ab.png)

Is there some sort of incompatibility?

[2016-09-16 09:34] JonathanMontane commented on #29
@magobaol thanks for the report! I'll look into it

[2016-09-16 09:39] JonathanMontane commented on #29
@magobaol it's weird... I imported the file without any issue whatsoever, by pasting the url and also by pasting the text content.

Would you mind telling me what version of Paw and macOS you are using? It is very likely due to the JS engine provided with Yosemite that is aligned on Safari 7, and therefore lacks many standard functionalities, as it is basically 3-5 years behind the current standar

[2016-09-16 09:45] magobaol commented on #29
Paw 3.0.11
OSX 10.10.5
Safari 9.0.2

[2016-09-16 09:47] JonathanMontane commented on #29
Yup, that's it! Yosemite strikes again ;) I'll try to push a fix for this asap. Sorry for the inconvenience.

[2016-09-16 09:56] magobaol commented on #29
:-) Waiting for it, thanks!

[2016-09-16 13:22] JonathanMontane commented on #29
@magobaol I've made some tentative changes to quite a few importers and generators so that they support Yosemite. However, I don't have a machine with Yosemite to test the changes, would it be possible for you to try out a development version?

The following instructions should update your local version of the Swagger Importer

[code]

Can you check if everything works for you with that version? T

[2016-09-16 13:42] magobaol commented on #29
@JonathanMontane last command should install new version directly inside Paw, right?
In this case, the patch isn't working, I get the same error :-(

[2016-09-16 13:45] JonathanMontane commented on #29
@magobaol woops, do a git pull to get the content of the branch. My bad.

[2016-09-16 13:53] magobaol commented on #29
Nope. Just to be sure: you wrote to use `077-yosemite-support-redux` but I've only found `077-yosemite-support` and I'm using that one. Is it right?

[2016-09-16 16:18] magobaol commented on #29
@JonathanMontane I've tried to export API in Swagger and in Postman version, and in both cases I got a similar error. Maybe there's something on Paw itself?

[2016-09-19 10:00] JonathanMontane commented on #29
@magobaol, `077-yosemite-support` is not the correct branch (it shouldn't even be available, it was deleted a while back), the correct one is `077-yosemite-support-redux`. Most of the exporters used the method `String.startsWith`, because, well, it's very useful method, which was apparently not provided in Yosemite. I removed all usage of this method in every exporters and serializers, it should n

[2016-09-19 14:58] magobaol commented on #29
Hi @JonathanMontane,
I got the right branch. I tried the new version and I got a different error:

`The import Extension has started a JavaScript Promise with no pending callback`

[2016-09-20 12:08] JonathanMontane commented on #29
@magobaol I've been trying to find which part of the code could potentially cause this issue, to no avail. Is there any additional messages printed in the extensions console (⌘⌥3)?

[2016-09-20 13:02] magobaol commented on #29
@JonathanMontane this is the error message in the extesion console:

`Error Importer com.luckymarmot.PawExtensions.SwaggerImporter has returned a JavaScript Promise but has no pending callback. Check that your asynchronous JavaScript code is not missing callbacks. A frequent error is to forget calling resolve() or reject() in a Promise implementation.`

[2016-09-20 14:34] JonathanMontane commented on #29
@magobaol thanks for the help, we're installing yosemite on a machine to see if we can reproduce it. I'll give you more when we're done.

[2016-09-21 13:43] JonathanMontane commented on #29
@magobaol Finally pinned the issue down!

It has to do with how the MacOS native JS Engine deals with promises (hint: it does not like them). Our current implementation uses webpack and babel to write code that is readable and easier to maintain, which is then transpiled to legacy es5 javascript, for compatibilty reasons. There are a lot of shims, so that the experience is relatively identical on

[2016-09-21 14:14] JonathanMontane commented on #29
@magobaol We've found a way to fix this issue permanently on Yosemite. It'll come out with the next version of Paw (ETA: 1day). So you can use this fix in the meantime!

[2016-09-22 07:58] magobaol commented on #29
Hi @JonathanMontane, sorry for the delay, I was on a business trip yesterday.
This morning, Paw downloaded an updated version of the importer, but I got the same problem. Btw, I think I have to wait for the next version of Paw itself, as you said.

Thanks,
Francesco

[2016-09-22 14:22] magobaol commented on #29
@JonathanMontane everything works with Paw 3.0.2! Thanks for all the effort you put in this!

[2016-09-24 14:18] #29 closed

[2016-09-24 14:18] #27 closed

[2016-10-14 18:46] hoegertn commented on #26
I would really like this too. I already implemented it before as #7 but after the change I do not find the correct place to reimplement it.

[2016-10-14 18:54] JonathanMontane commented on #26
@hoegertn you can find the real repository here https://github.com/luckymarmot/API-Flow

[2016-10-28 08:00] dhess commented on #28
For the record, I also just had a similar problem with a Swagger manifest. After disabling all the of the "Replace schemas by..." options and then re-enabling them, it seems to be working (Paw 3.0.12).

[2016-10-28 09:20] JonathanMontane commented on #28
@dhess Thanks for the report. I'll try to see what might be causing this. Good to know that you found a workaround

[2016-12-01 14:12] drct opened #30 "Import not working"
After the import of a Swagger file there are only groups in Paw, no actual requests. This is what the console shows:

Event Loaded extension com.luckymarmot.PawExtensions.SwaggerImporter

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

JS Error @serializer failed with error TypeError: Objective-C blocks called as constructors must return an object. {"line":2882,"column":108} [nati

[2016-12-01 14:54] JonathanMontane commented on #30
Thanks for the report, I'll look into it!
It seems that one of the url of the Swagger file is incorrectly interpreted by the importer.
Do you have a file that you could share with our support? support@paw.cloud

Thanks!

[2016-12-28 15:25] drct commented on #30
No, unfortunately I cannot share the file in question. Sorry.

[2017-03-23 20:25] drewish commented on #20
Also running into this. Let me know what you'd need to replicate it.

[2017-03-23 20:33] JonathanMontane commented on #20
@drewish if you can send the file that fails to be imported to support, it would help us a lot in investigating this issue.

**Note** If you have this exact same error (with the same `ValidationError: String does not match pattern: ^[^{}/ :\\]+(?::\d+)?$`), this might be due to an invalid `host` field value. (this error looks a lot like a failure to match this [pattern](https://github.com/OAI/Open

[2017-03-23 21:27] drewish commented on #20
Here's what I was seeing:
[code]

**Updated:** Wondering if it's because someone stuck the hostname in the base path:
[code]

[2017-03-23 22:34] JonathanMontane commented on #20
@drewish `basePath` is incorrect. Per the swagger spec:

e.g. if you are serving your api from `https://my.awesome-api.com/v3`,
you should decompose it this way in your swagger file:

[code]

[2017-03-23 22:35] JonathanMontane commented on #20
@drewish you can validate your swagger files in the online swagger editor: http://editor.swagger.io/

[2017-03-24 00:44] drewish commented on #20
Yeah I think the problem is that they definitely had invalid swagger but that the error made it sound like the version was wrong.

[2017-03-24 08:39] JonathanMontane commented on #20
Yeah the `(invalid schema /` is often ignored in favor of the `version < 2.0)` part. I'll see how we can improve this error message. Thanks for the report

[2017-04-11 14:37] wimleers opened #31 "Import failing"
On this Swagger file:

https://raw.githubusercontent.com/acquia/waterwheel.js/master/test/sample/swagger.example.json

I'm getting this error:

[2017-04-12 09:12] JonathanMontane commented on #31
Thanks for the report!

After investigating, it seems the issue lies in the swagger file rather than in the Parser. For some reason, `/` are escaped before being dumped as a JSON. This causes issues as the path is interpreted as starting with `\` instead of `/` which is invalid per the swagger spec (paths must start with a `/`).

If you fix the `/` escape issue, the import should *probably* work.

[2017-04-12 09:34] JonathanMontane commented on #31
Additionally, the basePath should not be `""` but `"/"` per the Swagger v2 spec.

[2017-04-12 10:24] JonathanMontane commented on #31
After further investigation, it seems that the library `tv4` is the culprit here as it expects the JSON to be formatted as is standard on the web instead as per the JSON spec, and we have found a workaround for this issue (using `JSON.stringify(JSON.parse(content))` before feeding it to tv4...)

This will be fixed in the next release of the SwaggerImporter. Thanks for the report.

[2017-04-26 13:43] lumaxis opened #32 "Import failed - undefined is not an object"
I just tried importing our Swagger file with the new version that ships with 3.1 but ran into the below error. It's probably not easily possible for me to share the entire file, is there anything else I can do to help debugging?

<img width="843" alt="screenshot 2017-04-26 15 41 36" src="https://cloud.githubusercontent.com/assets/406937/25437485/d597bd1c-2a96-11e7-9c34-93c99e3b3f9e.png">

[2017-04-26 13:46] JonathanMontane commented on #32
Hi @lumaxis, thanks for the report, I'll look into it.

[2017-04-26 13:50] JonathanMontane commented on #32
Hi @lumaxis, could it be possible that one of your paths does not have one of:
[code]
but only some other fields (probably only x-* fields) ?

[2017-04-26 13:52] lumaxis commented on #32
@JonathanMontane Yes, we do have one endpoint that only serves our Swagger file and is configured through our middleware, like this:

[code]

[2017-04-26 13:54] JonathanMontane commented on #32
That seems to be the issue! We didn't take into account paths that did not have any operations associated with them.

I'll fix it asap

[2017-04-26 13:59] lumaxis commented on #32
Awesome 🙂
This issue is not super time-critical for me personally but I'll still appreciate a quick fix 👍

[2017-04-26 14:01] JonathanMontane commented on #32
Can you try and see if this release candidate would work for you?
[com.luckymarmot.PawExtensions.SwaggerImporter.zip](https://github.com/luckymarmot/Paw-SwaggerImporter/files/958618/com.luckymarmot.PawExtensions.SwaggerImporter.zip)

[2017-04-26 14:06] lumaxis commented on #26
This appears to now be part of the importer in version 3. Thanks a bunch @JonathanMontane! 🎉

[2017-04-26 14:06] #26 closed

[2017-04-26 14:06] lumaxis commented on #32
Yep, works! 🙌

[2017-04-26 14:11] JonathanMontane commented on #32
PR https://github.com/luckymarmot/API-Flow/pull/133

[2017-04-26 14:12] #32 closed

[2017-04-26 14:51] JonathanMontane commented on #32
fixed by https://github.com/luckymarmot/Paw-SwaggerImporter/releases/tag/v3.0.2

[2017-04-26 16:14] JonathanMontane commented on #4
@tuexss The latest release of paw (paw 3.1) and the latest release of the swagger importer (SwaggerImporter v3.0.2) should fix this 2-year old issue.

[2017-04-26 16:14] #4 closed

[2017-04-26 16:14] #30 closed

[2017-05-23 16:54] amelnikov-mylivn opened #33 "Failed to correctly import swagger yml file due to Content-Type error"
Hello.

When I try to import pretty simple swagger yml file I get success message.
But when I go for each API endpoint I see a warning which means that import was not so successful after all.
Each my path contains blocks like this

[code]

After import I got this warning
[code]

You can see it [here](https://www.evernote.com/l/AAYnIAeVKvBKIp7XuVGLwsSWcgp4uOzNPnc)

[2017-05-26 16:33] JonathanMontane commented on #33
@amelnikov-mylivn this is actually only a warning, the import was successful and it put the `consumes` array of possible values inside the constraints of the `Content-Type` header. If you write `application/json` as the value for this header it will make the warning disappear.

We could improve the behavior by making the Content-Type autofill the value if there is only one value in the `consumes`

[2017-05-26 16:33] #33 closed

[2017-06-29 15:41] databus23 opened #34 "apiKey securityDefinition is not respecting header key"
Trying to import this swagger definition https://gist.github.com/databus23/848f60539956284e504605d4d9c01bc1

I noticed that the securityDefinition is not correctly mapped:
![image](https://user-images.githubusercontent.com/439223/27696443-e533d106-5cf1-11e7-95b2-f065ea27e6a4.png)

It seems the header name is ignored. It should be `X-Auth-Token` not `Authorization`.

This is unfortunate because I n

[2017-06-29 15:44] databus23 opened #35 "schema reference not expanded for request body"
Trying to import this swagger definition https://gist.github.com/databus23/848f60539956284e504605d4d9c01bc1

I noticed that the JSF contains this:
![image](https://user-images.githubusercontent.com/439223/27696655-821ce85e-5cf2-11e7-940f-386e0be9c92e.png)

[2017-07-21 13:32] databus23 opened #36 "Makefile missing"
The travis build and development instruction fail because of the missing Makefile.

[2017-07-21 14:10] databus23 commented on #34
Seems like its hardcoded [here](https://github.com/luckymarmot/Paw-SwaggerImporter/blob/b185b386e2ccf8861109dd8fad567bcacd1e0102/SwaggerImporter.js#L16531). I have no idea how to fix it though

[2017-08-03 10:22] josser opened #37 "Feature request: Import from swagger-ui spec"
It would be great to import not just from plain json file but from swgger-ui url itself.
There are several scenarios why it may be useful:
1) User don't know the url to .json file but know swagger-ui endpoint.
2) User don't have .json spec in file but it's included directly in swagger-ui and auto-regenerated each time, i.e:
![swagger_ui_spec_in_jscode](https://user-images.githubusercontent.com/103

[2017-08-03 15:10] JonathanMontane commented on #37
@josser There are quite a few issues I see with this:
1. No two swagger-ui endpoint seem to have the same loading structure (some point to a url, some have the spec included as a js object, some build the spec on execution, etc.), which makes it very unstable to parse.
2. Executing the code instead of just parsing it would be a strong security risk.

[2017-08-03 16:22] josser commented on #37
@JonathanMontane I agree about 2)
I've tried to figure out how it's possible to parse without something huge like esprima and now I'm understand that it may be too complex task. Regexps are not looking promising :)
However, i'm still looking for a way to import generated on the fly spec into paw

[2017-08-03 16:28] JonathanMontane commented on #37
@josser If it is only for your personal use case, you can make a fork of API-Flow (https://github.com/luckymarmot/API-Flow). It's the underlying converter that we created for API description formats imports. All you'd need to do is create an additional loader for that can handle the index.html file that contains the swagger-ui bundle with the spec (that's where the regex `spec1 = ({.*})` comes in

[2017-08-19 16:09] alupher commented on #34
+1. @JonathanMontane, any progress on this bug? Just downloaded Paw for a trial today and ran into this when importing our swagger json.

[2017-09-28 00:28] sirago commented on #35
Same here. Update on this?

[2017-09-29 12:13] JonathanMontane commented on #35
@sirago @databus23 If you go in your environment, you'll see that all the swagger definitions are saved there. Unfortunately, there are currently limitations in Paw wrt. to what you can do with JSON objects and unfortunately expanding linked objects inside a JSON is not possible atm. I would love to be able to do something like this:
[code]
But that does not handle the JSON object correctly 😢

The

[2017-10-20 09:01] drallgood opened #38 "TypeError: Parameter 'url' must be a string, not object"
Hi.

i'm getting the following error, when trying to import one of our products' swagger files:
`JS Exception Line 7658. TypeError: Parameter 'url' must be a string, not object`

I'm guessing it has something to do with the fact that this appears in the content of the JSON file:
`"url":{"type":"string"}` (this is part of our model)

[2017-11-02 04:49] #34 closed

[2017-11-02 06:23] mittsh commented on #34
@databus23 @alupher Apologies for the super long delay on this issue. I have just released a bugfix update to the Swagger importer ([v3.0.3](https://github.com/luckymarmot/Paw-SwaggerImporter/releases/tag/v3.0.3)).

You should now be able to update by going to the Paw menu > Extensions > Check for Extensions Updates.

I hope this helps!

[2017-11-02 14:07] pawsaw commented on #38
I have the same issue. Any news regarding this?

[2017-11-17 21:40] mshahat commented on #4
@JonathanMontane  i'm coming to the same point , where i have a json swagger referencing other json schema files.

1. dragged .json swagger file to Paw
2. prompted to get an importer, used Swagger 2.0
3. shown missing dynamic value as show in the screen shot
4. prompted to installer json faker !

any documentation ? i'd like to understand the workflow for getting that working please

<img width="1

[2017-11-17 21:48] mshahat commented on #35
Hi Jonathan, so picking up on this issue from the other thread too, you mentioned

which solution exactly ?

If is the tool is not supporting this essential situation, i'd like to know what would be a workflow to work with a swagger that's referencing json schema externally please ?

Many thanks,

[2017-11-17 22:35] JonathanMontane commented on #35
@mshahat Sorry if I was unclear, I was talking about the current implementation of the swagger schema storage inside of Paw, which isn't a great solution to the problem of linked swagger schemas, but the best currently available.

Otherwise, it's not possible at the moment to reference json schemas from within json schemas.

The only currently possible solution is to have no `$ref` in your schemas

[2018-02-05 14:52] ollydcuk commented on #38
Also getting this problem. Anyone got a resolution?

[2018-03-10 10:24] xfoxfu commented on #38
That means your file is in format `Open API 3.0`, which differs from Swagger 2.0.

[2018-06-27 11:52] rmatec commented on #35
Very unfortunate. This is a deal breaker for many developers. There is also an issue like this in Postman which made me evaluate Paw hoping it would work better but now we have to move to some other software.

[2018-07-03 11:47] baseten opened #39 "Support Open API 3.0"
It would be great if this could be updated to support the Open API 3.0 spec. The main missing feature from Swagger 2.0 spec which is important for us is JSON encoded objects for query string parameters.

[2018-08-24 15:49] geoffreywiseman commented on #39
This is a common problem for OpenAPI / Swagger -- many tools haven't been updated for OAS3, which is ... annoying, because OpenAPI 3.0 is not *that* different and the improvements are useful. Would be happy to see this.

[2018-09-04 09:14] goodmorningbob commented on #38
Is there any update on this issue?

I am getting the above error importing a Swagger 2 yaml file that has no 'url' parameter anywhere in it at all.

[2018-11-29 14:09] mdelano commented on #39
👍

[2018-12-13 09:02] Muffinman commented on #39
I'd also love to see this!

[2018-12-28 15:07] bddq commented on #39
👍

[2019-01-04 22:05] ndizazzo commented on #39
Obviously not ideal, as a work-around you do an indirect approach via:

`OpenAPI 3.0 spec` -> `Postman` -> `Postman V2.1 Collection` -> Import into PAW

You can get your spec into PAW and then modify as needed.

[2019-02-20 04:33] autumnfjeld commented on #38
Also getting:
"Import failed"
"TypeError: Parameter 'url' must be a string, not object"

when choosing Swagger 2.0 for this file https://github.com/w3tecch/express-typescript-boilerplate/blob/develop/src/api/swagger.json

Likewise, the file does not have a "url" property.

[2019-03-25 16:08] brtdv commented on #38
+1

[2019-04-03 08:09] revmischa commented on #39
👍

[2019-04-03 08:10] pavkatar commented on #39
Any news on the OpenAPI3 support?

[2019-04-04 16:39] stfnhh commented on #38
Same Issue here.

[2019-05-27 09:58] reshadf commented on #38
same issue here. Which importer should we use? Using Open API 3.0 that generates a swagger.json

[2019-05-29 18:58] richessler commented on #38
+1 Still receiving this error

[2019-06-11 12:45] bmedici commented on #39
Any news for OAS3 ?

[2019-06-20 01:57] kanaloa-io commented on #39
+1

[2019-07-16 19:51] picaron commented on #39
+1

[2019-07-19 09:27] kdubuc commented on #39
OpenAPI 3.0 must be supported by https://github.com/luckymarmot/API-Flow which is the core of this paw importer, but the project seems to be dead (last commit : 2 Nov 2017). 😞

[2019-07-19 09:36] revmischa commented on #39
There is a PR... https://github.com/JonathanMontane/API-Flow/pull/4

[2019-08-20 05:05] archifix commented on #38
Same isseue

[2019-12-03 14:35] JaapWijnen commented on #39
+1

[2019-12-05 14:40] bindermuehle opened #40 "Import Failed: because of "- {}" in yaml file"
error message: `undefined is not an object (evaluating '_store$getIn.variable')`

steps to reproduce:
import URL: https://raw.githubusercontent.com/Sylius/ShopApiPlugin/master/doc/swagger.yml

the error seems to be caused by this :
`
  security:
    - {}
    -   bearerAuth: []
`
on line 431

[2020-01-24 15:19] facetheheat commented on #38
Same issue here.

[2020-01-24 16:27] richessler commented on #38
I was able to flub this by importing to postman format, then from postman to paw. I hope this helps you all. The Swagger to Paw is still broken.

[2020-02-18 16:48] alexgoldstone commented on #39
Since the previously linked PR is not being actively worked on is there are plan to add OpenAPI 3.x support to PAW?

[2020-03-03 23:10] BryanJBryce commented on #39
Moving to Postman until this is done.

[2020-03-10 15:19] piotrtobolski commented on #39
This is essential for the whole importer functionality and long overdue at this point. Is Paw still active project itself?

[2020-03-10 17:07] JaapWijnen commented on #39
There's this tweet... But it's been a while: https://twitter.com/luckymarmot/status/1205225428530663426?s=20

[2020-03-31 07:53] jleroy commented on #39
FYI, you can use [api-spec-converter](https://lucybot-inc.github.io/api-spec-converter/) to convert OpenAPI 3.0 files to Swagger 2.0.

[2020-06-04 11:38] pax95 commented on #39
+1

[2020-08-04 15:21] robmathers commented on #39
Adding my support to this. Would be super useful for me.

[2020-08-12 15:45] prometheas commented on #38
This hasn't been addressed in almost 3 years' time… it's not like Swagger / OpenAPI are some obscure format that nobody uses. Not a great look.

[2020-08-21 13:16] denkristoffer commented on #39
There's this https://github.com/luckymarmot/Paw-OpenAPI3Importer 👀

[2020-09-10 19:46] dmythro commented on #38
I checked Paw to initially work with Swagger based APIs, and this is really awkward, especially Paw website saying this importer is **official**!

[2020-09-10 21:55] prometheas commented on #38
For what it's worth, I heard back from the support team. They claim the Swagger 2.0 import errors will be addressed, and support for 3.0 will be added "soon", though no details whether these would be in the same release, and what sort of timing to expect:

That message was from mid-August, so… hang in there, gang 🙏

[2020-09-10 22:18] command-tab commented on #38
Today:
https://twitter.com/luckymarmot/status/1304171065032278017

[2020-10-15 15:37] haufau commented on #39
Any news about release? Repo in post above seems like active, but no extensions available to install

[2020-10-22 19:05] TC-kDinicola commented on #39
Clone the repo, and run `npm install`, then `npm run paw`.  It generates an extension folder in the dist output directory.  copy that into Paw's extensions directory, which you can find by going to preferences -> extensions -> Open Extensions Directory button at the bottom

[2020-11-06 18:46] osipxd commented on #38
Found workaround - convert OpenAPI 3.0 to Swagger 2.0:
https://github.com/LucyBot-Inc/api-spec-converter

This issue should be linked with #39

[2020-12-22 17:33] stingalleman commented on #39
Hey, I love paw but I'm really missing this. Any update?

[2021-01-09 15:11] pildit opened #41 "No tags when importing from Swagger"
I am importing an OpenAPI file, i can see all the requests but the tags are gone, I mean the requests are not grouped by tags as in Swagger editor.

Is this a bug or am I missing something ?

[2021-01-22 13:13] heksesang commented on #38
OpenAPI 3 support never materialized? I get this error when trying to import an OpenAPI 3.0.3 YAML file.

[2021-02-19 14:48] superandrew commented on #38
same problem still present

[2021-03-25 05:17] moltar commented on #39
Was going to buy Paw in Oct 2020, but then saw that this is not solved.

Re-discovered Paw in March 2021, installed it again, found my OpenAPI file, tried to load and again realized that there is no support for this.

Back to the drawing board.

But would have paid right now for the tool, if this worked.

[2021-03-25 08:47] qqilihq commented on #39
I messaged the developer about this several times, and never received a reply (e.g. [here](https://twitter.com/command_tab/status/1304073167976030215)). [My personal opinion follows] In the meantime, the product has been acquired by Rapid API, so the future of the native Mac app seems rather “open”. Not sure if I would spend money for a license at this point.

[2021-03-31 14:36] dmythro commented on #39
Regret buying Paw.

Insomnia feels far superior and here I simply can't import a Swagger file, manually it is a no-go for sure (dozens of endpoints). A lot of people request this from a paid app and the ticket is open for years. What a shame.

[2021-03-31 17:59] pchouinardupgrade commented on #39
I too have moved to Insomnia, also it doesnt work only on Mac like Paw

[2021-05-27 15:44] LucasC commented on #39
I was looking for this as well, and Google keep bringing me back to this project - but you're looking for https://github.com/luckymarmot/Paw-OpenAPI3Importer

[2021-06-22 14:12] marceldarvas commented on #38
Using the OpenAPI 3 importer did the trick for me: https://paw.cloud/extensions/OpenAPI3Importer

[2021-06-22 15:55] prometheas commented on #38
Thanks for letting us know, @marceldarvas -- the context of my earlier need for this capability has since vanished, but I will see if I can remember what I was doing in Aug 2020 (I at least remember which project it was… hoping it will become obvious when I put eyes back on it 😅) and see if it now works.

[2021-08-13 01:37] iocouto commented on #39
The reason why users keep coming here is because this repository is what the official docs from Paw point towards, when we search for "OpenAPI" in the online manual. Here's what we need:

1. the official docs need to be updated immediately, so that when someone searches for 'OpenAPI' it points to "https://github.com/luckymarmot/Paw-OpenAPI3Importer" rather than here
2. the OpenAPIeImporter plugin

[2021-12-02 09:25] memins commented on #39
I can already insert the data but there is no folder structure like Postman .. do you have to set something? are currently everything in one folder

[2021-12-21 20:20] madisvain commented on #39
Came from Insomnia looking for a OS X native application. Really sad to see this feature missing and writing here just to emphasise that OpenAPI 3 support is essential.

*Other then that Paw is an amazing product. Thanks!*

[2022-05-30 20:54] lbdl commented on #38
this is still an issue, importing Apple's App Store Connect API which lists its version as `"openapi" : "3.0.1"` still breaks with the following: `JS Exception Line (null). TypeError: Parameter 'url' must be a string, not object`

Any fixes? Seems like basic functionality